:root {
  --gray-50: 247 252 249;
  --gray-100: 238 248 242;
  --gray-200: 216 235 224;
  --gray-300: 186 217 200;
  --gray-400: 152 190 169;
  --gray-500: 108 151 128;
  --gray-600: 75 115 94;
  --gray-700: 46 79 62;
  --gray-800: 27 52 39;
  --gray-900: 12 31 22;
  --gray-950: 5 16 11;
  --default-border-color: var(--gray-200);
}

.dark {
  --gray-950: 5 13 9;
  --gray-900: 8 20 14;
  --gray-800: 19 48 33;
  --gray-700: 33 76 53;
  --gray-600: 92 136 111;
  --gray-500: 145 184 165;
  --gray-400: 188 216 201;
  --default-border-color: rgb(34 225 133 / 0.18);
}

@media (min-width: 1024px) {
  #content-container {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  #content-container > div {
    max-width: 80rem !important;
    margin-left: 0 !important;
    margin-right: auto !important;
  }
}
